@use '@/assets/styles/helpers/functions' as *;
@use '@/assets/styles/helpers/media' as *;
@use '@/assets/styles/helpers/mixins' as *;

.header {
  position: relative;
  z-index: 1;
  width: 100%;
}

.container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: to-rem(60);
}

.call {
  order: 3;

  @include mobile {
    order: 1;
  }
}

.logo {
  order: 1;
  max-width: to-rem(70);

  @include mobile {
    @include abs-center;
  }
}

.menu {
  order: 3;
}

.menu__desktop {
  display: flex;
  gap: to-rem(20);

  @include mobile {
    display: none;
  }
}

.btn {
  display: none;

  @include mobile-above {
    display: flex;
  }
}
