@use '@/assets/styles/variables' as *;
@use '@/assets/styles/helpers/mixins' as *;
@use '@/assets/styles/helpers/functions' as *;

.wrapper {
  width: 100%;

  @include flex-center;
}

.link {
  color: var(--color--accent-primary);
  text-decoration: none;
}
