@use '@/assets/styles/helpers/functions' as *;
@use '@/assets/styles/helpers/media' as *;

.wrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    gap: to-rem(20);
  }
}

.track {
  position: relative;
  transform-style: preserve-3d;

  align-items: center;
  justify-content: center;

  width: 300px;
  height: 400px;
}

.card {
  will-change: transform, opacity;

  position: absolute;

  width: 300px;
  height: 400px;

  transition:
    transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.6s ease;
}

.controls {
  z-index: 200;
  display: flex;
  gap: to-rem(50);

  @include mobile-s-above {
    position: absolute;
    justify-content: space-between;
    width: 100%;
  }

  @include mobile-s {
    justify-content: center;
    order: 2;
  }
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;

  width: 100%;
  max-width: 1300px;
  height: 400px;

  perspective: 1300px;

  @include laptop {
    perspective: 700px;
  }

  @include tablet {
    perspective: 600px;
  }
}

.button {
  @include mobile {
    pointer-events: auto;
    width: to-rem(50);
  }
}
