@use '@/assets/styles/helpers/mixins' as *;
@use '@/assets/styles/helpers/media' as *;

.menu {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;

  @include mobile {
    align-items: center;
  }
}

.list {
  color: var(--font--primary);
}

.link {
  color: inherit;
}
