@use '@/assets/styles/helpers/functions' as *;
@use '@/assets/styles/helpers/media' as *;

.controls {
  display: flex;
  gap: to-rem(200);

  @include mobile {
    display: none;
  }
}

.button {
  opacity: 0.3;
  transition: opacity var(--transition-duration) ease;

  &:hover {
    opacity: 1;
  }
}
