@use '@/assets/styles/variables' as *;
@use '@/assets/styles/helpers/mixins' as *;

html,
body,
#root {
  height: 100%;
}

h1 {
  @include fluid-text(98, 40);
}

h2 {
  @include fluid-text(72, 20);
}

h4 {
  font-family: var(--font--primary), sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h5 {
  font-family: var(--font--secondary), sans-serif;
  color: var(--color--accent-secondary);
  text-transform: uppercase;
}
